.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 543px;
}

.u-section-1 .u-shape-1 {
  width: 364px;
  height: 45px;
  margin: 481px 192px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 270px;
  height: 204px;
  margin: -320px 270px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 272px;
  height: 225px;
  margin: -102px 137px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 650px;
  height: 590px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -590px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat;
  font-size: 1.5rem;
  background-image: none;
  font-weight: normal;
  margin: -295px 636px 0 43px;
}

.u-section-1 .u-text-2 {
  font-family: Caudex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.6;
  margin: -136px 570px 60px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-1 .u-shape-1 {
    width: 312px;
    height: 26px;
    margin-top: 350px;
    margin-right: 40px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -308px;
    margin-right: 111px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -99px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 415px;
    height: 416px;
    margin-top: -436px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -177px;
    margin-right: 312px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -87px;
    margin-right: 426px;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-shape-1 {
    width: 243px;
    height: 23px;
    margin-top: 363px;
    margin-right: 130px;
  }

  .u-section-1 .u-shape-2 {
    width: 218px;
    height: 217px;
    margin-top: -313px;
    margin-right: 205px;
  }

  .u-section-1 .u-shape-3 {
    width: 255px;
    height: 227px;
    margin-top: -154px;
    margin-right: 49px;
  }

  .u-section-1 .u-image-1 {
    width: 478px;
    height: 444px;
    margin-top: -403px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -202px;
    margin-right: 507px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: -132px;
    margin-right: 251px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 324px;
    margin-right: auto;
    margin-left: 123px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -224px;
    margin-right: 109px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -289px;
    margin-right: auto;
    margin-left: 66px;
  }

  .u-section-1 .u-image-1 {
    width: 473px;
    margin-top: -335px;
    margin-left: -12px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-right: 109px;
    margin-left: 59px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -79px;
    margin-right: 0;
    margin-left: -20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 248px;
    margin-right: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -191px;
    margin-right: 29px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -298px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 316px;
    margin-top: -259px;
    margin-left: -28px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 71px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -87px;
    margin-left: 0;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 707px;
}

.u-section-2 .u-slider-1 {
  min-height: 512px;
  margin-top: 102px;
  margin-bottom: 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 55px;
}

.u-section-2 .u-text-1 {
  font-family: Caudex;
  font-weight: bold;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 279px;
  width: 853px;
  margin: 24px auto 0 75px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 18px 55px;
}

.u-section-2 .u-text-2 {
  font-family: Caudex;
  font-weight: bold;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-2 .u-gallery-2 {
  height: 279px;
  width: 853px;
  margin: 24px auto 0 75px;
}

.u-section-2 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: 57px;
  position: absolute;
  top: 244px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  top: 244px;
  right: 82px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 428px;
    height: auto;
    width: 893px;
    margin: 77px auto 40px 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: 65px;
    margin-left: 134px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 245px;
    width: 695px;
    margin-top: 33px;
    margin-left: 102px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-right: 129px;
    margin-left: 107px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-gallery-2 {
    height: 230px;
    width: 636px;
    margin-top: 27px;
    margin-left: 107px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-carousel-control-1 {
    left: 33px;
    top: 197px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 208px;
    right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 550px;
    width: 795px;
    margin: -10px -75px 14px auto;
  }

  .u-section-2 .u-carousel-indicators-1 {
    top: auto;
    bottom: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 45px;
    margin-right: 160px;
    margin-left: 131px;
  }

  .u-section-2 .u-gallery-1 {
    height: 331px;
    width: 392px;
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 41px;
    padding-right: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 69px;
    margin-right: 127px;
    margin-left: 95px;
  }

  .u-section-2 .u-gallery-2 {
    height: 357px;
    width: 394px;
    margin-top: 61px;
    margin-left: 153px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-carousel-control-1 {
    left: 91px;
    top: 205px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 205px;
    right: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 822px;
    width: 590px;
    margin: -41px -25px 34px;
  }

  .u-section-2 .u-carousel-indicators-1 {
    left: 240px;
    right: auto;
    bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 59px;
    margin-right: 80px;
    margin-left: 31px;
  }

  .u-section-2 .u-gallery-1 {
    height: 595px;
    width: 217px;
    margin-top: 39px;
    margin-left: 162px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 36px;
    margin-right: 75px;
    margin-left: 154px;
  }

  .u-section-2 .u-gallery-2 {
    height: 647px;
    width: 229px;
    margin-top: 24px;
    margin-left: 154px;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-carousel-control-1 {
    left: 71px;
    top: 444px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: auto;
    right: 124px;
    bottom: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-slider-1 {
    min-height: 718px;
    margin-top: -36px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 94px;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-2 .u-gallery-1 {
    height: 442px;
    width: 209px;
    margin-top: 49px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 80px;
    margin-right: 0;
    margin-left: 29px;
  }

  .u-section-2 .u-gallery-2 {
    height: 486px;
    width: 214px;
    margin-top: 20px;
    margin-right: 61px;
    margin-left: 46px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: -16px;
    top: auto;
    bottom: 248px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 0;
    bottom: 248px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-shape-1 {
  width: 281px;
  height: 260px;
  margin: 168px auto 0 113px;
}

.u-section-3 .u-shape-2 {
  width: 245px;
  height: 214px;
  margin: -160px auto 0 226px;
}

.u-section-3 .u-image-1 {
  width: 721px;
  height: 428px;
  margin: -439px auto 0 -250px;
}

.u-section-3 .u-group-1 {
  width: 484px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  height: auto;
  min-height: 454px;
  margin: -383px 86px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 1.6;
  margin: 88px 222px 0 83px;
}

.u-section-3 .u-text-2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 61px 0 83px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  font-weight: normal;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 73px auto 0 90px;
  padding: 11px 45px 12px 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 91px;
  }

  .u-section-3 .u-group-1 {
    width: 368px;
    min-height: 314px;
    margin-top: -303px;
    margin-right: 73px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 38px;
    margin-right: 146px;
    margin-left: 89px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-right: 55px;
    margin-left: 89px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
    margin-left: 89px;
    padding-right: 25px;
    padding-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    margin-top: 96px;
    margin-left: -16px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -152px;
    margin-left: 75px;
  }

  .u-section-3 .u-image-1 {
    width: 650px;
    height: 330px;
    margin-top: -366px;
    margin-left: -307px;
  }

  .u-section-3 .u-group-1 {
    min-height: 324px;
    margin-top: -272px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-right: 180px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-2 {
    width: 236px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 53px;
    margin-left: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 89px;
    margin-left: 53px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -187px;
    margin-right: 136px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    height: 329px;
    margin-top: -382px;
    margin-left: -199px;
  }

  .u-section-3 .u-group-1 {
    width: 328px;
    margin-top: 106px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 43px;
    margin-right: 145px;
    margin-left: 46px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
    margin-left: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 95px;
  }

  .u-section-3 .u-image-1 {
    width: 447px;
    height: 296px;
    margin-top: -370px;
    margin-left: -166px;
  }

  .u-section-3 .u-group-1 {
    width: 279px;
    min-height: 302px;
    margin-top: 111px;
  }

  .u-section-3 .u-text-1 {
    font-family: Caudex;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 41px;
    margin-right: 82px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-2 {
    width: 184px;
    margin-top: 21px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 23px;
  }
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-section-3 .u-group-1:before {
  background-image: url(images/Labonita-11.png) !important;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover > .u-container-layout:before {
  background-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}
