@import "../../_theme_variables";

/* block top links */
ul#header_links {
	float: left;
	list-style-type: none;
	margin-top: 25px;
	overflow: hidden;
	li {
		text-transform:capitalize;
		float: left;
		padding: 0 20px 0 0;
		&:first-child {border:none;}
		a {
			color: #777;
			cursor: pointer;
			font: 13px / 15px $font-family;
			padding-left: 18px;
			position: relative;
			text-decoration: none;
			&:after {
				content: '\f111';
				font: 10px / 15px $font-icon;
				position: absolute;
				top: 2px;
				left: 0;
				color: #00c8c8;
			}
			&:hover, &.active {
				color: #343436;
				&:after {
					color: #343436;
				}
			}
		}
	}
	@media (max-width: $screen-xs-max) { // max 767px
		float: none;
		margin: 18px 0;
		text-align: center;
		li {
			display: inline-block;
			padding: 0 10px;
			float: none;
		}
	}
}

/*block permanent links right and left columns*/
#permanent_links div {border-bottom: 1px dotted #eee}
#permanent_links div a {
	display: block;
	padding: 7px 11px 5px 22px;
	color: #333;
	background:url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links{
	clear:both;
	text-align: center;
	padding-bottom:6px
}
ul#footer_links li{
	display: inline;
	padding:0 10px
}
