@import "../../_theme_variables";

/******************************************************************************
						Home Page Slider
*******************************************************************************/

#slider_row {
	@media (max-width: $screen-xs-max) { // max 767px
		padding-left: 15px;
		padding-right: 15px;
	}
}

#homepage-slider {
	margin-bottom: 20px;
	max-width: 100%;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	width: 2050px;
	z-index: 1;
	@media (max-width: $screen-sm-max) { // max 991px
		margin-bottom: 20px;
	}
	@media (max-width: $screen-xs-max) { // max 767px
		padding-top: 20px;
	}
	#homeslider {
		margin: 0 auto;
		padding: 0;
	}
	.homeslider-description {
		background: rgba(255, 255, 255, 0.6);
		cursor: pointer;
		h2 {
			font: 700 67px / 80px $font-family;
			color: #00c8c8;
			letter-spacing: -2px;
			margin: 0 0 25px;
		}
		p {
			color: #777;
			font: 13px / 29px $font-family;
		}
		button {
			background: #fff;
			border-radius: 2px;
			border: 2px solid #fff;
			color: #00c8c8;
			display: inline-block;
			font: 700 15px / 20px $font-family;
			margin-top: 30px;
			padding: 12px 28px 13px;
			position: relative;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
			&:hover {
				border-color: #00c8c8;
			}
		}
	}
}


/*****************************************************************************
						BXSlider Styles
********************************************************************************/
//RESET AND LAYOUT
#homepage-slider {
	.homeslider-container {
		position: relative;
	}
	.homeslider-image {
		position: absolute;
		left: 0;
		top: 0;
	}
	.homeslider-description {
		padding: 48px 70px 45px;
		position: absolute;
		right: 20%;
  		top: 15.5%;
  		width: 570px;
  		@media (max-width: 1600px) { 
  			padding: 43px 60px 40px;
  			right: 16%;
  			top: 17%;
  			button {
  				margin-top: 20px;
  			}
  		}
		@media (max-width: 1500px) { 
			right: 12%;
			top: 10%;
			padding: 40px 50px 35px;
			width: 43%;
			h2 {
				font-size: 57px;
				line-height: 63px;
				margin-bottom: 15px;
			}
		}
		@media (max-width: 1400px) { 
			right: 8%;
			width: 48%;
			padding: 35px 40px 30px;
		}
		@media (max-width:$screen-md-max) { // max 1200px
			width: 43%;
			padding: 28px 25px 25px;
			h2 {
				font-size: 42px;
				line-height: 45px;
			}
			p {
				line-height: 22px;
			}
			button {
				margin-top: 10px;
			}
		}
		@media (max-width: $screen-sm-max) { // max 991px
			padding: 15px 10px 10px 20px;
			width: 45%;
			right: 10%;
			top: 7%;
			.p2 {
				display: none;
			}
			h2 {
				margin-bottom: 0;
				font-size: 30px;
				line-height: 30px;
				letter-spacing: -1;
			}
			button {
				font-size: 13px;
				line-height: 15px;
				margin-top: 0px;
				padding: 10px 20px 11px; 
			}
		}
		@media (max-width: $screen-xs-max) { // max 767px
			padding: 10px 15px 11px;
			right: 12%;
			width: 35%;
			h2 {
				font-size: 26px;
				line-height: 28px;
				letter-spacing: 0;
			}
			button {
				display: none;
			}
		}
		@media (max-width: $screen-xs - 1) { // max 479px
			display: none;
		}
	}
	.bx-wrapper {
		position: relative;
		padding: 0;
		*zoom: 1;
		a {
			display: block;
		}
		img {
			display: block;	
			height: auto;
			max-width: 100%;
		}
	}
	// THEME
	.bx-wrapper {
		.bx-viewport {
			width: 100%;
		}
	}
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		bottom: 30px;
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	//LOADER
	.bx-wrapper .bx-loading {
		min-height: 50px;
		background: url(images/bx_loader.gif) center center no-repeat $light-background;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
	}
	//PAGER
	.bx-wrapper .bx-pager {
		text-align: center;
		font-size: .85em;
		font-family: $font-family;
		font-weight: bold;
		color: #666;
		padding-top: 20px;
	}
	.bx-wrapper .bx-pager .bx-pager-item,
	.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
		display: inline-block;
		*zoom: 1;
		*display: inline;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: none;
		border-radius: 15px;
		display: block;
		height: 15px;
		margin: 0 5px;
		outline: 0;
		text-indent: -9999px;
		width: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #fff;
	}
	//DIRECTION CONTROLS (NEXT / PREV)
	.bx-wrapper .bx-prev {
		left: 9%;
		&:after {
			content: "\f104";	
		}
	}
	.bx-wrapper .bx-next {
		right: 9%;
		&:after {
			content: "\f105";	
		}
	}
	.bx-wrapper .bx-controls-direction a {
		bottom: 50%;
		height: 52px;
		outline: 0;
		position: absolute;
		text-indent: -9999px;
		width: 25px;
		z-index: 9999;
		@media (max-width: $screen-sm-max) { // max 991px
			bottom: 40%;
		}
		@media (max-width: $screen-xs-max) { // max 767px
			bottom: 35%;
		}
		@media (max-width: $screen-xs - 1) { // max 479px	
			bottom: 30%;
		}
		&:after { 
			color: #fff;
			display: block;
			font-family: $font-icon;
			font-size: 41px;
			height: 48px;
			left: 0;
			padding: 16px 0 0;
			position: absolute;
			text-align: center;
			text-indent: 0;
			top: 0;
			width: 25px;
			z-index: 2;
		}
		&:hover {
			&:after {
				color: #00c8c8;	
			}
		}
	}
	.bx-wrapper .bx-controls-direction a.disabled {
		display: none;
	}
	//AUTO CONTROLS (START / STOP)
	.bx-wrapper .bx-controls-auto {
		text-align: center;
	}
	.bx-wrapper .bx-controls-auto .bx-start {
		display: block;
		width: 10px;
		height: 11px;
		outline: 0;
		margin: 0 3px;
		&:before {
			content:'';
			font-family:$font-icon;
			color:#fff;
		}
	}
	.bx-wrapper .bx-controls-auto .bx-stop {
		display: block;
		width: 9px;
		height: 11px;
		outline: 0;
		margin: 0 3px;
		&:before {
			content:'';
			font-family:$font-icon;
			color:#fff;
		}
	}
	//PAGER WITH AUTO-CONTROLS HYBRID LAYOUT
	.bx-wrapper .bx-controls .bx-controls-auto {
		right: 15px;
		width: 35px;
		top:15px;
	}
	//IMAGE CAPTIONS
	.bx-wrapper .bx-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #666\9;
		background: rgba(80, 80, 80, 0.75);
		width: 100%;
	}
	.bx-wrapper .bx-caption span {
		color: $light-text-color;
		font-family: $font-family;
		display: block;
		font-size: .85em;
		padding: 10px;
	}
}
.ie8 {
	#homepage-slider{
		.bx-wrapper .bx-controls-direction a {
			&:before {
				background: $dark-background;
			}
		}
	}
}

#bx-pager-thumb {
	text-align:center;
	padding:10px 0;
	a {
		display:inline-block;
		max-width:150px;
		width:31%;
		img {
			max-width:100%;
			height:auto;	
		}
	}
}

#homepage-slider .bx-wrapper .bx-next {
	@media (max-width: 1700px) { 
		right: 12%;
	}
	@media (max-width: 1600px) { 
		right: 10%;
	}
	@media (max-width: 1500px) { 
		right: 6%;
	}
	@media (max-width: 1400px) { 
		right: 4%;
	}
	@media (max-width:$screen-md-max) { // max 1200px
		right: 3%;
	}
	@media (max-width: $screen-xs - 1) { // max 479px	
		right: 1%;
	}
}

#homepage-slider .bx-wrapper .bx-prev {
	@media (max-width: 1700px) { 
		left: 10%;
	}
	@media (max-width: 1600px) { 
		left: 8%;
	}
	@media (max-width: 1500px) { 
		left: 6%;
	}
	@media (max-width: 1400px) { 
		left: 4%;
	}
	@media (max-width:$screen-md-max) { // max 1200px
		left: 3%;
	}
	@media (max-width: $screen-xs - 1) { // max 479px	
		left: 1%;
	}
}
