@import "../../_theme_variables";

.header_user_info {
	margin: 18px 1px 10px;
	float: right;
	a {
		border-radius: 3px;
		color: #00c8c8;
		cursor: pointer;
		display: inline-block;
		font-family: $font-family;
		font-size: 13px;
		font-weight: bold;
		line-height: 15px;
		padding: 7px 14px 9px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
		}
		&:hover, &.active {
			background: #fff;
		}
	}
	&+ .header_user_info {
		border-right: none;	
	}
	@media (max-width: $screen-xs - 1) { // max 479px	
		width: 45%;
		float: none;
		display: inline-block;
	}
}

.user_info {
	margin: 20px 0 0 0;
	text-align: right;
	li {
		display: inline-block;
		padding-right: 15px;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;	
			}
		}
	}
}