@import "../../../_theme_variables";


#tmhtmlcontent_home {
	ul.tmhtmlcontent-home {
		margin-bottom: 0px;
		overflow: hidden;
		li {
			width: 100%;
			text-align: center;
			.item-link {
				display: block;
				.item-html {
					padding-top: 100px;
					padding-bottom: 110px;
					h2 {
						color: #fff;
						font: 700 67px/89px $font-custom;
						margin: 0 0 30px;
						padding: 0;
					}
					.p1 {
						color: #fff;
						font: 13px/29px $font-custom;
						margin: 0 0 30px;
					}
					button {
						color: #fff;
						border-radius: 0;
						padding: 24px 34px;
						&:hover {
							background: #fff;
							color: #00c8c8;
						}
					}
					@media (max-width:$screen-md-max) { // max 1200px
						padding-top: 80px;
						padding-bottom: 85px;
						h2 {
							font-size: 55px;
							line-height: 65px;
						}
					}
					@media (max-width: $screen-sm-max) { // max 991px
						padding-top: 60px;
						padding-bottom: 60px;
						h2 {
							font-size: 50px;
							line-height: 60px;
						}
					}
					@media (max-width: $screen-xs-max) { // max 767px
						padding-top: 45px;
						padding-bottom: 45px;
						h2 {
							font-size: 38px;
							line-height: 48px;
							margin-bottom: 15px;
						}
						.p1 {
							line-height: 22px;
						}
						button {
							padding: 16px 28px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px	
						padding-top: 60px;
						h2 {
							font-size: 32px;
							line-height: 34px;
							margin-bottom: 20px;
						}
						.p1 {
							display: none;
						}
						button {
							padding: 14px 26px;
						}
					}
				}
			}
		}
	}
}

#tmhtmlcontent_topColumn {
	position: relative;
	z-index: 10;
	text-align: center;
	ul.tmhtmlcontent-topColumn {
		margin-bottom: 0px;
		overflow: hidden;
		display: inline-block;
		li {
			width: 100%;
			text-align: center;
			.item-link {
				display: block;
				.item-html {
					padding-top: 100px;
					padding-bottom: 100px;
					h2 {
						color: #fff;
						font: 700 67px/89px $font-custom;
						margin: 0 0 30px;
						padding: 0;
					}
					.p1 {
						color: #fff;
						font: 13px/29px $font-custom;
						margin: 0 0 30px;
					}
					button {
						color: #fff;
						border-radius: 0;
						padding: 24px 34px;
						&:hover {
							background: #fff;
							color: #00c8c8;
						}
					}
					@media (max-width: $screen-sm-max) { // max 991px
						padding-top: 80px;
						padding-bottom: 75px;
						h2 {
							font-size: 50px;
							line-height: 60px;
						}
					}
					@media (max-width: $screen-xs-max) { // max 767px
						padding-top: 45px;
						padding-bottom: 40px;
						h2 {
							font-size: 38px;
							line-height: 48px;
							margin-bottom: 15px;
						}
						.p1 {
							line-height: 22px;
						}
						button {
							padding: 16px 28px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px	
						padding-top: 45px;
						padding-bottom: 40px;
						h2 {
							font-size: 30px;
							line-height: 28px;
							margin-bottom: 20px;
						}
						.p1 {
							display: none;
						}
						button {
							padding: 14px 26px;
						}
					}
				}
			}
		}
	}
}


@-webkit-keyframes moveFromRight {
0% {
    opacity: 0;
    -webkit-transform: translateX(200%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
}
}
@-webkit-keyframes moveFromLeft {
0% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
}
}
@-webkit-keyframes moveFromBottom {
0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
}
50% {
    opacity: 0.5;
    -webkit-transform: translateY(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
}
}
@-webkit-keyframes moveFromtop {
0% {
    opacity: 0;
    transform: translateY(-200%);
}
50% {
    opacity: 0.5;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes moveFromRight {
0% {
    opacity: 0;
    transform: translateX(200%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes moveFromLeft {
0% {
    opacity: 0;
    transform: translateX(-200%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes moveFromBottom {
0% {
    opacity: 0;
    transform: translateY(200%);
}
50% {
    opacity: 0.5;
    transform: translateY(100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes moveFromtop {
0% {
    opacity: 0;
    transform: translateY(-200%);
}
50% {
    opacity: 0.5;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}