@import "../../_theme_variables";

#languages-block-top {
	float: right;
	margin-top: 20px;
	margin-right: 16px;
	padding-right: 16px;
	position: relative;
	@media (max-width: $screen-xs - 1) { // max 479px	
		display: inline-block;
		float: none;
		margin-right: 0;
		margin-top: 0;
		padding-right: 0;
		width: 40%;
		div.current {
			border: 1px solid #878787;
		}
	}													
	span.firstWord {
		display: none;
	}
	div.current {
		color: #777;
		cursor: pointer;
		font: 13px / 15px $font-family;
		padding: 4px 2px;
		@media (max-width: $screen-xs - 1) {
			text-align: center;
			padding: 9px 5px 10px;
			font-size: 11px;
		}
		strong {
			font-weight: normal;
		}
		&:hover, &.active {
			color: #00c8c8;
		}
		&:after {
			content: "\f107";
			font-family: $font-icon;
			font-size: 13px;
			line-height: 13px;
			padding-left: 8px;
			// max 479px
			@media (max-width: $screen-xs - 1) {
				padding-left: 2px;
			}
		}
		&.active {
			&:after {
				content: "\f106";
			}
		}
		.cur-label {
			// max 479px
			@media (max-width: $screen-xs - 1) {
				display: none;
			}
		}
	}
	ul {
		background: #343436;
		display: none;
		position: absolute;
		right: 0;
		text-align: left;
		top: 37px;
		width: 157px;
		z-index: 200;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			left: 0;
			right: auto;
		}
		li {
			color: $light-text-color;
			line-height: 35px;
			font-size: 13px;
			a,
			> span {
				padding: 0 10px 0 12px;
				display: block;
				color: $light-text-color;
			}
			&.selected, &:hover a {
				background: #00c8c8;
			}
		}
	}
}