@import "compass";
@import "theme_variables";


$color1:#91a7be;
$color2:#4e6277;
$color3:#edf4f8;
$color4:#3d4f63;


.btn-success {
	background: $color1;

	&:hover,
	&:active,
	&:active:focus,
	&:focus {
		background: $color2;
	}
}

.label-success {
	background: $color2;
}

.label-danger {
	background: $color1;
}

#my-account ul.myaccount-link-list li a {
	color: $color2;
	
	&:hover {
		color: $color1;
	}
}

ul.product_list .product-image-container .quick-view {
	background: rgba($color1, 0.8)
}

.footer-container,
header .nav,
#htmlcontent_home {
	background: $color3;
}

#homepage-slider .homeslider-description {
	background: rgba(255, 255, 255, 0.35);
}

div.star.star_on:after,
#layer_cart .layer_cart_product h2,
#subcategories ul li .subcategory-name:hover {
	color: $color1;
}

.page-heading,
.product-name,
.block h4 a:hover,
.price.product-price,
.block .title_block a:hover, 
.footer-container #footer h4,
.footer-container #footer h4 a,
.content_scene_cat span.category-name,
.footer-container #footer #block_contact_infos > div ul li a:hover,
h3.page-product-heading,
ul.product_list .product-image-container .quick-view:hover,
#home-page-tabs > li a,
#homepage-blog h4.title_block a,
#block_top_menu .sf-menu > li > a,
#subcategories ul li .subcategory-name,
#search_block_top .btn.button-search:hover,
#homepage-slider .homeslider-description h2,
#block_top_menu .sf-menu > li > ul > li > a:hover,
#footer #newsletter_block_left .form-group .btn-sm:hover {
	color: $color2;
}

#homepage-slider .homeslider-description button {
	background: $color2;
	border-color: $color2;
	color: #fff;
	&:hover {
		background: $color1;
		border-color: $color1;
	}
}

#header .cart_block {
	background: $color4;
}

.sale-label,
.price-percent-reduction,
#block_top_menu .cat-title:hover,
#footer #newsletter_block_left .block1,
#block_top_menu .sf-menu > li > a:after,
#footer #newsletter_block_left .block_cont {
	background: $color1;
}

.new-label,
ul.product_list .availability span.out-of-stock,
ul.product_list .availability span.available-now,
ul.product_list.grid > li .product-container .content_price,
#reduction_percent, #reduction_amount {
	background: $color2;
}

#htmlcontent_home ul.htmlcontent-home li a.item-link {
	span {
		background: $color1;
		&:after {
			box-shadow: 3px 3px rgba($color2, 1);
		}
	}
	&:hover {
		span {
			background: $color2;
		}
		h2 {
			color: $color2;
		}
	}
}

nav ul#header_links li a:hover, 
nav ul#header_links li a.active {
	color: $color2;
	&:after {
		color: $color2;
	}
}


#languages-block-top,
#currencies-block-top  {
	div.current:hover,
	div.current.active {
		color: $color1;
	}
	ul {
		background: $color2;
		li.selected,
		li:hover a {
			background: $color1;
		}
	}
}

#header .shopping_cart > a:first-child {
	background: $color2;
	&:hover {
		background: $color1;
	}
}

#htmlcontent_top ul {
	li:first-child .item-link{
		&:before {
			background: $color1;
			border-color: $color1; 
		}
		&:hover {
			&:before {
				background: $color2;
				border-color: $color2; 
			}
		}
	}
	li .item-link {
		h2 {
			color: $color1;
		}
		&:hover:before {
			background: $color1;
			border-color: $color1;
		}
	}
	li:last-child .item-link {
		&:before {
			background: $color2;
			border-color: $color2;
		}
		&:hover {
			p {
				color: #fff;
			}
			&:before {
				background: $color1;
				border-color: $color1;
			}
			h2 {
				color: #fff;
			}
		}
	}
}

.btn.btn-default:hover,  
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default:active:focus, 
.btn.ajax_add_to_cart_button:hover, 
.btn.ajax_add_to_cart_button:active, 
.btn.ajax_add_to_cart_button:focus, 
.btn.ajax_add_to_cart_product_button:hover, 
.btn.ajax_add_to_cart_product_button:active, 
.btn.ajax_add_to_cart_product_button:focus,
ul.product_list.grid > li .product-container .button-container .btn.lnk_view:hover {
	background: $color2;
	border-color: $color2;
}

ul.step li.step_current span:after, ul.step li.step_current {
    background: $color2;
    border-color: $color2;
}

.btn.btn-default {
	background: $color1;
	&:hover {
		color: #fff;
	}
}

.header_user_info a,
.product-name a:hover,
.block .title_block, .block h4,
.btn.ajax_add_to_cart_button span, 
.footer-container #footer a:hover,
.block .title_block a, .block h4 a,
.btn.ajax_add_to_cart_button:after, 
.accessories-block .product-name a:hover,
.btn.ajax_add_to_cart_product_button span,
.btn.ajax_add_to_cart_product_button:after,
.footer-container #footer #block_contact_infos > div ul li a,
.footer-container #footer #block_contact_infos > div ul li .phone,
.clearfix #tmhtmlcontent_home ul.tmhtmlcontent-home li .item-link .item-html button:hover,
.clearfix #tmhtmlcontent_topColumn ul.tmhtmlcontent-topColumn li .item-link .item-html button:hover,
a.product-name:hover,
nav .shop-phone i,
nav .shop-phone strong,
nav ul#header_links li a:after,
#home-page-tabs > li a:hover,
#home-page-tabs > li.active a, 
#block_top_menu .sf-menu > li > ul > li > a,
#productscategory_list .product-name a:hover, 
#homepage-slider .bx-wrapper .bx-controls-direction a:hover:after {
	color: $color1;
}

.btn.lnk_view,
.btn.ajax_add_to_cart_button, 
.btn.ajax_add_to_cart_product_button {
	background: #fff;
}

#block_top_menu .sf-menu > li.sfHover > a, 
#block_top_menu .sf-menu > li > a:hover, 
#block_top_menu .sf-menu > li.sfHoverForce > a {
	color: $color1;
}

#block_top_menu .sf-menu > li {
	&.sfHover > a,
	> a:hover,
	&.sfHoverForce > a {
		@media (max-width: $screen-xs-max) { // max 767px
			color: #fff;
			background: $color1;
		}
	}
}
